<%= form_with(model: @dairy, local: true, multipart: true) do |form| %>

  <% if @dairy.errors.any? %>
    <div id="error_explanation">
      <h2><%= @dairy.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @dairy.errors.full_messages.each do |msg| %>
        <ol><%= msg %></ol>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="">
  <div class="dairy_title">
    <%= form.label :タイトル %>
    <br>
    <%= form.text_field :title, :placeholder => "タイトルを入力" %>
  </div>
  <br>
  <div class="dairy_content">
    <%= form.label :内容 %>
    <br>
    <%= form.text_field :content, :placeholder => "内容を入力" %>
  </div>
  <br>
  <div class="dairy_image">
    <%= form.label :image %>
    <br>
    <%= form.file_field :image %>
  </div>
  <br>
  <%= form.submit %>
<% end %>

</div>
