<div class="dairy">
  <h1>観察日記</h1>

    <%= search_form_for @q do |f| %>
      <%= f.label :title, "タイトル検索" %>
      <%= f.search_field :title_cont %>

      <%= f.submit "検索するよ" %>
    <% end %>

<div class="dairies">
  <table>
    <tr>
      <th>作成日</th>
      <th>タイトル</th>
      <th class = "textOverflowTest1">内容</th>
    </tr>
    <br>

  <% @dairies.each do |dairy| %>
    <tr>
      <td><%= dairy.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= dairy.title %></td>
      <td><%= dairy.content %></td>
      <td = "btn"><%= link_to '詳細', dairy_path(dairy.id), class:"btn_03" %></td>
      <% if user_signed_in? && current_user.id == dairy.user_id %>
      <td><%= link_to '編集', edit_dairy_path(dairy.id), class:"btn_03" %></td>
      <td><%= link_to '削除', dairy_path(dairy.id), method: :delete, class:"btn_03" %></td>
      <% end %>

    </tr>
  <% end %>
  </table>

<%= paginate @dairies %>
</div>

</div>
