<div class="container">
    <nav class="menu">
      <ul>
        <div class ="agripark">
          ～初めての方へ～<br>
          <br>
          農業初心者でも自分が作った作物を一定の品質や収穫量を保つには何が大事？<br>
          <br>
          日々の作業を記録しそこから次は何が必要か考え、実施する<br>
          <br>
          数値や文字で視覚化することで<br>
          <br>
          根拠に基づいて作業内容を決め、効率良く行うためのアプリです<br>
          <br>
          畑栽培、ハウス栽培、家庭菜園、観葉植物など<br>
          <br>
          何か育ててみたいなと思う方におススメです<br>
          <br>
        </div>
      </ul>

      <div class = "rowp" >
        <% if user_signed_in? %>
          <p>マイページにもどる</p>
            <%= button_to "マイページ", user_path(current_user.id), method: :get %>
        <% else %>
          <p class = "col-sm-6 col-md-3">ゲストさんはこちらから</p>
            <%= button_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "normal_guest" %><br>
          <p class = "col-sm-6 col-md-3">ユーザーさんはこちらから</p>
            <%= button_to "ユーザーログイン", new_user_session_path %><br>
          <p class = "col-sm-6 col-md-3">ゲスト管理者さんはこちらから</p>
            <%= button_to 'ゲスト管理者ログイン', users_admin_guest_sign_in_path, method: :post %><br>
          <p class = "col-sm-6 col-md-3">新規登録されるかたはこちらから </p>
            <%= button_to "アカウント作成", new_user_registration_path, method: :get %>
        <% end %>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
  <article>
    <div class="contents">
      <ul class = "row">

        <!-- <div class = "contents"> -->

        <!-- </div> -->

<br>
        <ol class="col-sm-6 col-md-3">・生産管理 <br>
          温度や湿度、収穫量の記録ができます<br>
        </ol>
        <ol class="col-sm-6 col-md-3">・コスト管理 <br>
          日々の収支を登録するとグラフ表示で把握できます<br>
        </ol>
        <ol class="col-sm-6 col-md-3">・スケジュール <br>
          種植え、虫の駆除、定植など中長期的な期間の登録ができます<br>
          このスケジュールの中に１日単位でのやることを登録できます<br>
        </ol>
        <ol class="col-sm-6 col-md-3">・観察日記 <br>
          日々の作業から疑問の思ったこと、気づいたことなど文と写真で記録に残すことができます<br>
        </ol>
      </ul>
    </div>
  </article>
</div>
