<div class="devise">
  <br>

<h2><%= t('.forgot_your_password') %></h2>


  <br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <br>


  <div class="field">
    <%= f.label :email %><br />

      <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレスを入力" %>

      <br>
  </div>
  <br>

    <br>
      <br>

        <br>
          <br>

  <div class="actions">
    <%= f.submit t('.send_me_reset_password_instructions') %>
  <br>
  <br>
  <br>
      <br>
  </div>
<% end %>


  <br>
<%= render "devise/shared/links" %>

  <br>
    <br>


</div>
