<%= form_with(model: @cost, local: true) do |form| %>

  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= @cost.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cost_sale">
    <%= form.label :売り上げ %>
    <%= form.text_field :sale %>
  </div>
  <div class="cost_fertilizer">
    <%= form.label :肥料 %>
    <%= form.text_field :fertilizer %>
  </div>
  <div class="cost_soil">
    <%= form.label :土代 %>
    <%= form.text_field :soil %>
  </div>
  <div class="cost_seed">
    <%= form.label :苗・種 %>
    <%= form.text_field :seed %>
  </div>
  <%= form.submit %>
<% end %>
