<%= form_with(model: @cost, local: true) do |form| %>

  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= @cost.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cost_sale">
    <%= form.label :売り上げ %>
    <br>
    <%= form.number_field :sale, :placeholder => "数値を入力" %>
    <br>
  </div>
  <br>
  <div class="cost_fertilizer">
    <%= form.label :肥料 %>
    <br>
    <%= form.number_field :fertilizer, :placeholder => "数値を入力" %>
    <br>
  </div>
  <br>
  <div class="cost_soil">
    <%= form.label :土代 %>
    <br>
    <%= form.number_field :soil, :placeholder => "数値を入力" %>
    <br>
  </div>
  <br>
  <div class="cost_seed">
    <%= form.label :苗・種 %>
    <br>
    <%= form.number_field :seed, :placeholder => "数値を入力" %>
    <br>
  </div>
  <br>
  <%= form.submit %>
<% end %>
