<!-- <article class="article"> -->

<div class="cost">
  <h1>コスト</h1>


  <table>
    <tr>
      <th>売り上げ（円）</th>
      <th>肥料（円）</th>
      <th>土（円）</th>
      <th>苗・種（円）</th>
    </tr>
  <% @costs.each do |cost| %>
    <tr>
      <td><%= cost.sale %></td>
      <td><%= cost.fertilizer %></td>
      <td><%= cost.soil %></td>
      <td><%= cost.seed %></td>
      <td><%= link_to '詳細', cost_path(cost.id) %></td>
      <% if user_signed_in? && current_user.id == cost.user_id %>
      <td><%= link_to '編集', edit_cost_path(cost.id) %></td>
      <td><%= link_to '削除', cost_path(cost.id), method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>


</div>
