<!-- <article class="article"> -->

<div class="cost">

<h1>コスト一覧</h1>

  <table>
    <tr>
      <th>記録日</th>
      <th>売り上げ（円）</th>
      <th>肥料（円）</th>
      <th>土（円）</th>
      <th>苗・種（円）</th>
      <th></th>
    </tr>
  <% @costs.each do |cost| %>
    <tr>
      <td><%= cost.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= cost.sale %></td>
      <td><%= cost.fertilizer %></td>
      <td><%= cost.soil %></td>
      <td><%= cost.seed %></td>
      <td><%= link_to '詳細', cost_path(cost.id), class:"btn_03" %></td>
      <% if user_signed_in? && current_user.id == cost.user_id %>
      <td><%= link_to '編集', edit_cost_path(cost.id), class:"btn_03" %></td>
      <td><%= link_to '削除', cost_path(cost.id), method: :delete, class:"btn_03" %></td>
      <% end %>
    </tr>
  <% end %>
  </table>


</div>
