<div class="cost">
  <h1>詳細画面</h1>
  <table>
    <tr>
      <th>記録日</th>
      <td><%= @cost.record_date %></td>
    </tr>
  </table>
<br>
  <table>
    <tr>
      <th>売り上げ金</th>
      <td><%= @cost.sale %>円</td>
      <th>肥料</th>
      <td><%= @cost.fertilizer %>円</td>
      <th>土</th>
      <td><%= @cost.soil %>円</td>
      <th>種・苗</th>
      <td><%= @cost.seed %>円</td>
    </tr>
  </table>
  <br>
<div class="chart">
  <div class="cost-chart">
    <%= column_chart @cost_chart, xtitle: "種類", ytitle: "円", width: "600px" %>
  </div>

</div>

</div>
