<div class = "event">
<%= form_with(model: @event, local: true, multipart: true) do |form| %>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h4><%= @event.errors.count %>件のエラーがあります。</h4>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <ol><%= msg %></ol>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="event_content">
    <%= form.label :内容 %>
    <%= form.text_field :title, :placeholder => "内容を入力" %>
  </div>

  <div class="event_start">
    <%= form.label :開始日 %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="event_end">
    <%= form.label :終了日 %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="event_task">
    <ul>
      <%= form.fields_for :tasks do |form| %>
      <p><%= form.label :やること %></p>
      <p><%= form.text_field :work, :placeholder => "やることを入力" %></p>
      <div class="field">
      <%= form.label :イメージ %>
      <div class="image_field">
        <%= form.file_field :image %>
      </div>

      </div>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= form.submit %>

  </div>


</div>
<% end %>
