<div class = "event">
<%= form_with(model: @event, local: true, multipart: true) do |form| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= @event.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <ol><%= msg %></ol>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="event_content">
    <%= form.label :内容 %>
    <br>
    <%= form.text_field :content, :placeholder => "内容を入力" %>
  </div>
  <br>

  <div class="event_start">
    <%= form.label :開始日 %>
    <br>
    <%= form.date_select :start_date %>
  </div>
  <br>

  <div class="event_end">
    <%= form.label :終了日 %>
    <br>
    <%= form.date_select :end_date %>
  </div>
  <br>

  <div class="event_task">
    <% (@event.tasks.count + 1).times do |n| %>
    <ul>
      <%= form.fields_for :tasks do |form| %>
      <p><%= form.label :やること %></p>
      <p><%= form.text_field :work, :placeholder => "やることを入力" %></p>
      <div class="field">
      <%= form.label :イメージ %>
      <%= form.file_field :image %>
      </div>
      <% end %>
    <% end %>
    </ul>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
