<%= form_with(model: @manufacture, local: true) do |form| %>

<% if @manufacture.errors.any? %>
  <div id="error_explanation">
    <h4><%= @manufacture.errors.count %>件のエラーがあります。</h4>
    <ul>
    <% @manufacture.errors.full_messages.each do |msg| %>
      <ol><%= msg %></ol>
    <% end %>
    </ul>
  </div>
<% end %>

<table>
  <tr>
    <th><%= form.label :記録日 %></th>
    <td><%= form.date_field :date, :placeholder => "日付を入力" %></td>
    <th><%= form.label :今日の天気 %></th>
    <td><%= form.text_field :weather, :placeholder => "天気を入力" %></td>
  </tr>

  <tr>
    <th><%= form.label :気温【℃】 %></th>
    <td><%= form.number_field :atmospheric_temperature, :placeholder => "数値を入力" %></td>
    <th><%= form.label :収穫量【キロ】 %></th>
    <td><%= form.number_field :harvest, :placeholder => "数値を入力" %></td>
  </tr>

  <tr>
    <th><%= form.label :ハウス内の温度【℃】 %></th>
    <td><%= form.number_field :indoor_temperature, :placeholder => "数値を入力" %></td>
    <th><%= form.label :土の温度【℃】 %></th>
    <td><%= form.number_field :soil_temperature, :placeholder => "数値を入力" %></td>
  </tr>
  <tr>
    <th><%= form.label :湿度【％】 %></th>
    <td><%= form.number_field :humidity, :placeholder => "数値を入力" %></td>
    <th><%= form.label :風量【ｍ】 %></th>
    <td><%= form.number_field :air, :placeholder => "数値を入力" %></td>
  </tr>
  <tr>
    <th><%= form.label :日射量【W／ｍ2】 %></th>
    <td><%= form.number_field :solar, :placeholder => "数値を入力" %></td>
    <th><%= form.label :降水量【％】 %></th>
    <td><%= form.number_field :precipitation, :placeholder => "数値を入力" %></td>
  </tr>

  <tr>
    <th><%= form.label :降水量【ｍ】 %></th>
    <td><%= form.number_field :precipitation, :placeholder => "数値を入力" %></td>
  </tr>

</table>
<th>登録するなら押してね！</th>
<td><%= form.submit %></td>

<% end %>
