<div class="manufacture">
  <h1 class = "h1">生産管理</h1>

  <table>
    <tr>
      <th>収穫量（キロ）</th>
      <th>ハウス内の温度（℃）</th>
      <th>土の温度（℃）</th>
      <th>湿度（℃）</th>
    </tr>
  <% @manufactures.each do |manufacture| %>
    <tr>
      <td><%= manufacture.harvest %></td>
      <td><%= manufacture.indoor_temperature %></td>
      <td><%= manufacture.soil_temperature %></td>
      <td><%= manufacture.humidity %></td>
      <td><%= link_to '詳細', manufacture_path(manufacture.id), class:"btn_03" %></td>
      <% if user_signed_in? && current_user.id == manufacture.user_id %>
      <td><%= link_to '編集', edit_manufacture_path(manufacture.id), class:"btn_03" %></td>
      <td><%= link_to '削除', manufacture_path(manufacture.id), method: :delete, class:"btn_03" %></td>
      <% end %>
    </tr>
  <% end %>
  </table>


</div>
