<div class="manufacture">
  <h1>生産管理の詳細</h1>
  <br>
  <p>収穫量（キロ）</p>
  <%= @manufacture.harvest %>
  <p>ハウス内の温度（℃）</p>
  <%= @manufacture.indoor_temperature %>
  <p>土の温度（℃）</p>
  <%= @manufacture.soil_temperature %>
  <p>湿度（℃）</p>
  <%= @manufacture.humidity %>
  <div class="graph">
    <%= column_chart @manufacture_chart, xtitle: "種類", ytitle: "温度・キロ",width: "600px" %>

  </div>


</div>
