<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="admin_render">
  <%= form_with(model: [:admin,@user], local: true) do |f| %>

  <div class="admin_name">
    <%= f.label :name %>  <br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="admin_email">
    <%= f.label :email %>  <br>
    <%= f.email_field :email %>
  </div>
  <br>
  <div class="admin_password">
    <%= f.label :password %>  <br>
    <%= f.password_field :password_digest %>
  </div>
  <br>
  <div class="admin_confirmation">
    <%= f.label :password_confirmation %>  <br>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div class="admin_admin">
    <%= f.label :admin %>  <br>
    <%= f.check_box :admin %>
  </div>
  <br>

    <%= f.submit "更新するよ" %>
  <br>
 <% end %>

 <div class="">
   <br>
   <div class="">
     変更しないなら
     <br>
     <br>
     <%= link_to "管理者一覧へ", admin_users_path %>
   </div>
   <br>
   <br>
 </div>
</div>
