<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">リンク集</h2>
    <ul class="channel_list">
      <div class="card accordion-container">
  　　　　<div class="card-body accordion-title js-accordion-title">
   　　　　　ユーザー
  　　　　</div>
  　　　　<div class="card-body accordion-content">
            <li><%= link_to "マイページ", user_path(@user.id) %></li>
            <li><%= link_to "業務ページ", users_path %></li>
            <% if current_user.admin == true %>
            <li><%= link_to "管理者ページ", admin_users_path %></li>
            <% end %>
  　　　　</div>
　　　</div>
    　<div class="card accordion-container">
  　　　　<div class="card-body accordion-title js-accordion-title">
    　　　　　イベント
  　　　　</div>
  　　　　<div class="card-body accordion-content">
             <li><%= link_to "スケジュール一覧", events_path %></li>
             <li><%= link_to "スケジュール新規作成", new_event_path %></li>
  　　　　</div>
　　　</div>
　　　<div class="card accordion-container">
  　　　　<div class="card-body accordion-title js-accordion-title">
    　　　　　コスト
  　　　　</div>
  　　　　<div class="card-body accordion-content">
            <li><%= link_to "コスト一覧", costs_path %></li>
            <li><%= link_to "コスト新規作成", new_cost_path %></li>  　　　　　
  　　　　</div>
　　　</div>
　　　<div class="card accordion-container">
  　　　　<div class="card-body accordion-title js-accordion-title">
    　　　　　生産管理
  　　　　</div>
  　　　　<div class="card-body accordion-content">
            <li><%= link_to "生産管理一覧", manufactures_path %></li>
            <li><%= link_to "生産管理新規作成", new_manufacture_path %></li>　　　　　
  　　　　</div>
　　　</div>
　　　<div class="card accordion-container">
　　　　　<div class="card-body accordion-title js-accordion-title">
　　　　　観察日記
　　　　　</div>
　　　　　<div class="card-body accordion-content">
            <li><%= link_to "観察日記", dairies_path %></li>
            <li><%= link_to "観察日記新規作成", new_dairy_path %></li>
　　　　　</div>
　　　</div>

    </ul>
  </div>
</div>
