<!DOCTYPE html>
<html>
  <head>
    <title>Agrihouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
    <header class="header">
    <% if user_signed_in? %>
      <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %>
      <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %>
    </header>

    <% end %>
    <%= yield %>
    <aside class="side_menu">
      <nav>
        <ul>
          <li><%= link_to "ã‚¤ãƒ™ãƒ³ãƒˆ", events_path %></li>
          <li><%= link_to "ã‚³ã‚¹ãƒˆ", costs_path %></li>
          <li><%= link_to "ç”Ÿç”£ç®¡ç†", manufactures_path %></li>
          <li><%= link_to "è¦³å¯Ÿæ—¥è¨˜", dairies_path %></li>
        </ul>
      </nav>
    </aside>
    <footer class="footer">
      <p class = "pfooter">ðŸ„« 2021 ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯.</p>
    </footer>
  </body>
</html>
