<!DOCTYPE html>
<html>
  <head>
    <title>ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'src': 'jquery.min.js' %> %>
    <%# <%= javascript_include_tag 'application', 'src': 'jquery.sidebar.min.js' %> %>
    <!-- <script{src: "//code.jquery.com/jquery-1.10.2.min.js" } </script> -->
    <!-- <script{src: "//jillix.github.io/jQuery-sidebar/js/handlers.js" } </script> -->

  </head>

  <body data-turbolinks="false">
    <header class="header">






      <aside id="sidebar" class="scroll">
          <nav id="global-nav">
            <% if user_signed_in? %>
              <%= render'layouts/sidebar' %>
            <% end %>


          </nav>
      </aside>





      <div class = "logo">ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯</div>
     <div class="top_menu clearfix">
        <% if user_signed_in? %>
          <div class = "logout">
            <ol><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %></ol>
          </div>
        <% else %>
          <div class = "acount">
            <ol><%= link_to "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆä½œæˆ", new_user_registration_path %></ol>
          </div>
          <div class ="login">
            <ol><%= link_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %></ol>
            <ol><%= link_to 'ã‚²ã‚¹ãƒˆç®¡ç†è€…ãƒ­ã‚°ã‚¤ãƒ³', users_admin_guest_sign_in_path, method: :post %></ol>
          </div>
        <% end %>
     </div>

    </header>
    <div class="notice">
      <% if notice %>
        <%= notice %>
      <% end %>
      <% if alert %>
        <%= alert %>
      <% end %>
    </div>

<div class="main-container">
    <%= yield %>
</div>
    <footer class="footer">
      <p class = "pfooter">ðŸ„« 2021 ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯.</p>
    </footer>
  </body>
</html>
