<!DOCTYPE html>
<html>
  <head>
    <title>ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
    <header class="header">
      <p class = "logo">ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯</p>
    <% if user_signed_in? %>
      <p class = "logout">
        <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
      <p class = "acount">
        <%= link_to "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆä½œæˆ", new_user_registration_path %>
      </p>
      <p class ="login">
        <%= link_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %>
        <%= link_to 'ç®¡ç†è€…ãƒ­ã‚°ã‚¤ãƒ³', admin_users_path %>

      </p>
    <% end %>
    </header>


    <%= yield %>

    <footer class="footer">
      <p class = "pfooter">ðŸ„« 2021 ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯.</p>
    </footer>
  </body>
</html>
