<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>ућЪућБу«Ауљє</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <header class="header">
        <% if user_signed_in? %>
          <%= link_to "сЃГсѓ░сѓбсѓдсЃѕ", destroy_user_session_path, method: :delete %>
          <p class = "manufacture">сѓбсѓ░сЃфсЃЉсЃ╝сѓ»</p>
        <% else %>
          <%= link_to "Тќ░УдЈуЎ╗жї▓", new_user_registration_path %>
          <%= link_to "сЃГсѓ░сѓцсЃ│", new_user_session_path %>
        <% end %>
      </header>

          <div class="row">
            <div class="col-3">
              <%= render'layouts/sidebar' %>
            </div>
           <div class="col-9">
             <article class = "article">
  <%= yield %>
             </article>
           </div>
          </div>
      <aside class="side_menu">
      </aside>

      <footer class = "footer">
        <p class = "pfooter">­ЪёФ 2021 сѓбсѓ░сЃфсЃЉсЃ╝сѓ».</p>
      </footer>
  </body>
</html>
