<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>ãƒ¦ãƒ¼ã‚¶ãƒ¼æƒ…å ±</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <header class="header">
        <% if user_signed_in? %>
          <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
          <p class = "manufacture">ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯</p>
        <% else %>
          <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %>
          <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %>
        <% end %>
      </header>

        <div class="row">
          <div class="col-3">
            <%= render'layouts/sidebar' %>
          </div>
          <div class="col-9">
            <article class = "article">
  <%= yield %>
            </article>
          </div>
        </div>

      <footer class = "footer">
        <p class = "pfooter">ðŸ„« 2021 ã‚¢ã‚°ãƒªãƒ‘ãƒ¼ã‚¯.</p>
      </footer>
  </body>
</html>
